/* Base styles */
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px; /* Adjust base font size */
    line-height: 1.5; /* Improve readability */
  }
  
  /* Desktop first layout*/
html { 
    scroll-behavior: smooth;
}

.header {
    padding: 40px;
    text-align: center;
    background: gold;
    margin: 30px;
    font-size: 20px;
  }
 
#skills ul {
    padding-left: 10px;
    background-color: white;
  }

   #About h2 {
    font-size: 6rem; 
    font-style: italic; 
    color: green;
  }

body {
    /*background-color: rgb(142, 142, 158);*/
    background: linear-gradient(to top, #a8c9e2, #f0f9ff);
    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-left: 50px;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-right: 60px;
    font-family: Roboto;
   
  }
   
  #About {
    text-align: center;
}

.image-container {
    width: 650px; 
    height: 250px; 
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto; 
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 { 
    font-size: 20px;
    color: green;
    font-weight: bold;
}

nav ul li { 
    display:inline-flex;
    color: rgb(141, 145, 141);
    font-size: 25px;
    margin-inline: 90px;
    position: sticky;
    top: 0;
    font-weight: bold;
    background-color: gold; 
    box-shadow:goldenrod rgba(110, 230, 1);
    border-radius: 30%;
    text-decoration: none;
}
nav {
    color: green;
}

   #skills, #projects { 
    color: black;
} 
.Experience { 
    font-weight: bold;
    color: green;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    padding-top: 10px;
}
.job { 
    display: contents;
}
.job-title { 
    font-weight: bold;
    font-size: 1.2em;
}
.job-description { 
    text-align: left;
}

.job-date { 
    text-align: right;
    color: green;
}
p { 
   text-align: justify;
   color: goldenrod;
}

#Connect {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  
  .social-icons {
    display: flex;
    list-style: none;
    padding: 0;
    margin:0;
  }
  
  .social-icons li {
    margin: 100px; 
  }
  
  .social-icons img {
    width: 30px; 
    height: 30px;
  }
  

  
  /* Styles for tablets and smaller */
@media (max-width: 768px) {
    
    .header {
        padding: 40px;
        text-align: center;
        background: red;
        margin: 30px;
        font-size: 15px;
      }
    
  
    #skills ul {
        padding-left: 10px;
        background-color: green;
      }
  
    #About h2 {
        font-size: 4rem; 
        font-style: italic; 
        color: yellow;
      }
  
    }
  /* Styles for mobile layout */
  @media (max-width: 480px) {
    
    .header {
        padding: 40px;
        text-align: center;
        background: darkblue;
        margin: 30px;
        font-size: 10px;
      }
    
      #skills ul {
        padding-left: 10px;
        background-color: gold;
      }
    
      #About h2 {
        font-size: 2rem; 
        font-style: italic; 
        color: red;
      }
  }
